@{
    Layout = "_AdminLayout.cshtml";
}

<div class="section-header">
    <h1>SELENIUM!!!</h1>
    @using (Html.BeginForm("Manage", "Selenium", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="submit" id="ImportFromNcard" name="ImportFromNcard" class="k-button" value="Get Price" />
    }

    @foreach (var item in ViewBag.ListNsets)
    {
        <div class="SeleniumDiv">
            <p>
                @Html.CheckBox("chkSet", true)
                @item.Nname
            </p>
        </div>
    }

</div>
